:root {
    --heigth-player-section: 80px;
    --height-top-main: 80px;
    --width-aside-menu: 45px;
}

/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* img {
    width: 100%;
} */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* .d-none {
    display: none;
} */

/* UTILITY */

/* .debug * {
    min-height: 100px;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px dashed red;
} */

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    margin-left: -1rem;
    margin-right: -1rem;
}

[class*='col'] {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-5 {
    width: calc(100% / 5);
}

.col-2-3 {
    width: calc(100% / 3 * 2);
}

/* INIZIO MAIN SECTION */
main {
    background-color: #141922;
}

.main-section {
    height: calc(100% - var(--heigth-player-section));
    display: flex;
}

#main-section-content {
    height: var(--height-top-main);
    background-color: #00000044;
}

/* INZIO ASIDE MENU */
#aside-menu {
    width: var(--width-aside-menu);
    background-color: #000000;
    color: #a3a3a3;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aside-menu span {
    display: none;
    vertical-align: middle;
    margin-left: 8px;
}

#aside-menu img {
    width: 30px;
    vertical-align: middle;
}

#aside-menu #home-logo {
    display: none;
}

.home-logo-section {
    margin-bottom: 10px;
}

.playlist-section {
    margin-top: 30px;
}

.playlist-section h3 {
    color: white;
    display: none;
}

.add-section {
    margin-top: 10px;
}

#add-playlist {
    background-color: #a3a3a3;
    color: black;
    text-align: center;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    font-size: 26px;
    padding: 2px;

    display: none;
}

#playlist-list {
    margin-top: 20px;
    display: none;
}

#playlist-list li {
    padding-bottom: 20px;
}

#download-btn {
    width: 18px;
}

#user-btn {
    background-color: #808080;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* MAIN SECTION CONTENT */
#main-section-content {
    width: calc(100% - var(--width-aside-menu));
}

/* MAIN CONTENT */
#content {
    height:calc(100vh - var(--height-top-main) - var(--heigth-player-section));
}
/* INIZIO PLAYER SECTION */
.player-section {
    height: var(--heigth-player-section);
    background-color: #282828;
}



/* INZIO MEDIA QUERY MIN 576PX 'S' */
@media screen and (min-width: 576px) {
    :root {
        --width-aside-menu: 250px;
    }

    #aside-menu {
        padding: 20px;
    }

    #home-logo-small {
        display: none;
    }

    #aside-menu #home-logo {
        width: 130px;
        display: inline-block;
    }
    #aside-menu span, h3 {
        display: inline;
    }

    #add-playlist , #playlist-list,
    .playlist-section h3 {
        display: inline-block;
    }
}